<h1> Voici votre profil </h1>

<p>Votre ID : <%= current_user.id %></p>
<p>Votre prénom : <%= current_user.prenom %></p>
<p>Votre nom : <%= current_user.nom %></p>
<p>Votre prénom : <%= current_user.email %></p>