<h1>Bienvenue Visiteur!</h1>

<% if logged_in? %>


<p> <%= link_to "Voici le lien pour la page du club", users_path %> </p>

<% else %>

<p> <%= link_to "Connectez-vous!", login_path %> </p>

<% end %>